.oferta__contenedor{
    & &__item1{
        background-color: whitesmoke;
    }

    &  &__item2{
        
        background-color: violet;
    }
    & &__item3{
        background-color: wheat;
    }

    & &__item4{
        background-color: yellow;
    }

    & &__item5{
        background-color: yellowgreen;
    }

    & &__item6{
        background-color: whitesmoke;
    }

}